@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
    color: #ffffff;
    font-family: Monaco, Menlo, "Ubuntu Mono", monospace;
  }
}

/* XTerm Customization */
.xterm {
  padding: 0;
}

.xterm-viewport {
  background-color: transparent !important;
}

.xterm-screen {
  background-color: transparent !important;
}

.xterm .xterm-cursor-layer .xterm-cursor {
  background-color: #BF1A1A !important;
}